#login{
    background-color: black;
    text-align: center;
    height: auto;
    width: auto;


}

#separador{
    display: inline-block;
    position: relative;
    color: rgb(194, 206, 207);
  }
  #separador:after, #separador:before{
    content: " ";
    position: absolute;
    width: 160px;
    height: 1px;
    background-color:currentColor;
    top: 0.9em;
  }
  #separador:before{
      left: -180px;
    }
  #separador:after{
      right: -180px;
    }
  #g{
    color: 'red';
    background-color: red;
  }
  #formulario{
    float: right;
    margin: auto;
  }

  #title{
    color: aliceblue;
  }

  .logo{
        display: flex;
        justify-content: center;
        align-items: center;
  }